<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.github.jcustenborder.kafka.connect.spooldir" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>